// Layout – Container

.container,
.container-edge {
    @apply px-6 mx-auto w-full;

    @screen md {
        @apply px-8;
        max-width: 720px;
    }

    @screen lg {
        @apply px-10;
        max-width: 960px;
    }

    @screen xl {
        @apply px-20;
        max-width: 1500px;
    }
}

.container-edge {
    @screen to-sm {
        @apply px-0;
    }
}

.container-fluid {
    max-width: 100%;
}
