// ========================================================================
// Base – Global
// ========================================================================

body {
    @apply font-sans text-gray-900;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga', 'kern';
    text-rendering: optimizelegibility;
}
