// Elements – Buttons

.btn {
    // Resets
    @apply text-center whitespace-no-wrap align-middle select-none border-none no-underline;

    // Customise
    @apply inline-flex justify-center items-center;
    @apply border border-solid border-transparent rounded-none;
    @apply text-sm font-bold uppercase leading-normal;
    @apply transition-all duration-300 ease-in-out;

    letter-spacing: 1.4px;
    padding: 18px 24px 14px;

    &:hover,
    &:focus,
    &:active {
        @apply bg-gray-100;

        outline: 0;
        text-decoration: none;
    }

    &.disabled,
    &:disabled {
        opacity: 0.65;
        pointer-events: none;
    }

    // Opinionated: add "hand" cursor to non-disabled .btn elements
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

.btn-primary {
    @apply text-white bg-orange-500 border-orange-500;

    &.loading::after {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }

    &:hover,
    &:focus,
    &:active {
        @apply text-white bg-orange-400 border-orange-400;
    }
}

.btn-secondary {
    @apply text-orange-500;

    &.loading::after {
        border-bottom-color: theme('colors.orange.500');
        border-left-color: theme('colors.orange.500');
    }

    &:hover,
    &:focus,
    &:active {
        @apply text-white bg-orange-600 border-orange-600;
    }
}

.btn-full {
    @apply min-w-full;
}

.btn-min {
    min-width: 200px;
}
