// Utilities – Aspects Ratios

.aspect-21by9,
.aspect-21\:9 {
    padding-top: percentage(9 / 21);
}

.aspect-16by9,
.aspect-16\:9 {
    padding-top: percentage(9 / 16);
}

.aspect-4by3,
.aspect-4\:3 {
    padding-top: percentage(3 / 4);
}

.aspect-square,
.aspect-1by1,
.aspect-1\:1 {
    padding-top: percentage(1 / 1);
}
